body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: skyblue;
}

.note {
  display: flex;
  margin: 1em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  background: #fcfcfc;
}
.note__text {
  flex: 1 1 25%;
  color: rebeccapurple;
  margin: 0;
  border: 0;
  font-size: 1rem;
  padding: 0.4em 0.75em;
  outline: none;
  border-radius: 0.25em;
}
input.note__text {
  background-color: #eaeaea;
}
.note__button {
  background: skyblue;
  color: white;
  padding: 0.5em;
  border: 0;
  border-radius: 0.25em;
  margin: 0 0.15em;
  outline: none;
  cursor: pointer;
}
.note__button:hover {
  background: #348caf;
}
